In [1]:
import pandas as pd
import glob
import os
from sklearn import preprocessing
pd.set_option('display.max_columns', None)
os.getcwd()

'C:\\Users\\Mario\\Desktop\\FACULDADE\\projeto_AM'

### separating data set atributtes into features and prediction_class

In [2]:
attributes = [
   "Wife's age",
   "Wife's education",
   "Husband's education",
   "Number of children ever born",
   "Wife's religion",
   "Wife's now working?",
   "Husband's occupation",
   "Standard-of-living index",
   "Media exposure",                
   "Contraceptive method used"
]

features = [
    "Wife's age",
    "Wife's education",
    "Husband's education",
    "Number of children ever born",
    "Wife's religion",
    "Wife's now working?",
    "Husband's occupation",
    "Standard-of-living index",
    "Media exposure"
]
prediction_class = [
    "Contraceptive method used"
]

# !! to import data set, convert the downloaded data file into .txt ( by replacing the end of the name of the file into .txt) file and upload it on the same directory that you started jupyter notebook !!

In [3]:
data_set = pd.read_csv(glob.glob(os.getcwd()+'\\*.txt')[0], names = attributes)

### normalizing features and class(need to see missing values pre processment)

In [4]:
def normalize_data_features(data_set):
    for key in features:
        min_feature = data_set[key].min()
        max_feature = data_set[key].max()
        data_set['normalized_'+key] = data_set[key].map(lambda row: (float)(row-min_feature)/(min_feature+max_feature))
    return data_set

In [5]:
#NEED TO SEE MISSING VALUES!!!!!!!
data_set = normalize_data_features(data_set)

In [6]:
data_set['normalized_class'] = pd.get_dummies(data_set['Contraceptive method used']).to_dict('split')['data']

In [7]:
data_set

,Wife's age,Wife's education,Husband's education,Number of children ever born,Wife's religion,Wife's now working?,Husband's occupation,Standard-of-living index,Media exposure,Contraceptive method used,normalized_Wife's age,normalized_Wife's education,normalized_Husband's education,normalized_Number of children ever born,normalized_Wife's religion,normalized_Wife's now working?,normalized_Husband's occupation,normalized_Standard-of-living index,normalized_Media exposure,normalized_class
0,24,2,3,3,1,1,2,3,0,1,0.123077,0.2,0.4,0.1875,1.0,1.0,0.2,0.4,0.0,"[1, 0, 0]"
1,45,1,3,10,1,1,3,4,0,1,0.446154,0.0,0.4,0.6250,1.0,1.0,0.4,0.6,0.0,"[1, 0, 0]"
2,43,2,3,7,1,1,3,4,0,1,0.415385,0.2,0.4,0.4375,1.0,1.0,0.4,0.6,0.0,"[1, 0, 0]"
3,42,3,2,9,1,1,3,3,0,1,0.400000,0.4,0.2,0.5625,1.0,1.0,0.4,0.4,0.0,"[1, 0, 0]"
4,36,3,3,8,1,1,3,2,0,1,0.307692,0.4,0.4,0.5000,1.0,1.0,0.4,0.2,0.0,"[1, 0, 0]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1468,33,4,4,2,1,0,2,4,0,3,0.261538,0.6,0.6,0.1250,1.0,0.0,0.2,0.6,0.0,"[0, 0, 1]"
1469,33,4,4,3,1,1,1,4,0,3,0.261538,0.6,0.6,0.1875,1.0,1.0,0.0,0.6,0.0,"[0, 0, 1]"
1470,39,3,3,8,1,0,1,4,0,3,0.353846,0.4,0.4,0.5000,1.0,0.0,0.0,0.6,0.0,"[0, 0, 1]"
1471,33,3,3,4,1,0,2,2,0,3,0.261538,0.4,0.4,0.2500,1.0,0.0,0.2,0.2,0.0,"[0, 0, 1]"
1472,17,3,3,1,1,1,2,4,0,3,0.015385,0.4,0.4,0.0625,1.0,1.0,0.2,0.6,0.0,"[0, 0, 1]"